[package]
name = "beetswap"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
description = "Implementation of bitswap protocol for libp2p"

[dependencies]
asynchronous-codec = "0.7"
blockstore = "0.1"
bytes = "1"
cid = "0.11"
fnv = "1.0.5"
futures = "0.3"
futures-timer = "3"
libp2p-core = "0.41"
libp2p-identity = "0.2"
libp2p-swarm = "0.44"
multihash-codetable = "0.1"
quick-protobuf = "0.8"
smallvec = "1"
thiserror = "1"
unsigned-varint = "0.8"
void = "1"

[dev-dependencies]
hex = "0.4"
libp2p-identity = { version = "0.2", features = ["rand"] }
multihash-codetable = { version = "0.1", features = ["digest", "sha2"] }
tokio = { version = "1", features = ["rt", "macros", "time"] }

[features]
wasm-bindgen = ["futures-timer/wasm-bindgen"]
